<h2>index</h2>
  <div class="row">
    <%= link_to "新規投稿", new_trip_path %>
  </div>
  <!--レビューの繰り返し処理-->
  <h2>レビュー一覧</h2>
  <% @trips.each do |trip| %>
  <%= link_to trip_path(trip.id) do %>
    <%= image_tag trip.image, size: "550x300" %>
  <% end %>
    <%= trip.title %>
    <%= trip.body %>
    <%= trip.country %>
    <%= trip.price %>
  <% end %>


