<div class="container">
  <!--レビューの繰り返し処理-->
  <h2>レビュー一覧</h2>
  <% @trips.each do |trip| %>
  <div class="row">
    <%= link_to trip_path(trip.id) do %>
    <%= image_tag trip.image, size: "550x300" %>
  <% end %>
    <%= trip.title %>
    <%= trip.body %>
    <%= trip.country %>
    <%= trip.price %>
  </div>
  <% end %>
</div>


