<!DOCTYPE html>
<html>
  <head>
    <title>Practiceworld2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark">

            <div class="navbar-brand text-light ml-3"><span>Practice World 2</span></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <% if user_signed_in? %>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active mx-3 mt-3">
                <%= link_to '投稿フォーム', new_trip_path, class: "text-light" %>
              </li>
              <li class="mx-3 mt-3">
              <%= link_to 'マイページ', user_path(current_user.id), class: "text-light" %>
              </li>
              <li class="mx-3 mt-3">
                <%= link_to 'レビュー一覧', trips_path, class: "text-light" %>
              </li>
              <li class="mx-3 mt-3 mb-3">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "text-light" %>
              </li>
            </ul>
            <!--<%# elsif admin_signed_in? %>-->
            <!--<ul class="navbar-nav ml-auto">-->
            <!--  <li class="mx-3 mt-3">-->
            <!--    <%#= link_to "ユーザー一覧", admin_users_path, class: "text-light" %>-->
            <!--  </li>-->
            <!--  <li class="mx-3 mt-3">-->
            <!--    <%#= link_to "レビュー一覧", admin_trips_path, class: "text-light" %>-->
            <!--  </li>-->
            <!--  <li class="mx-3 mt-3">-->
            <!--    <%#= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "text-light" %>-->
            <!--  </li>-->
            <!--</ul>-->
            <% else %>
            <ul class="navbar-nav ml-auto">
              <li class="mx-3 mt-3 ">
                <%= link_to "新規登録", new_user_registration_path, class: "text-light" %>
              </li>
              <li class="mx-3 mt-3">
                <%= link_to "ログイン", new_user_session_path, class: "text-light" %>
              </li>
              <!--<li class="mx-3 mt-3 mb-3">-->
              <!--  <%#= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class: "text-light" %>-->
              <!--</li>-->
            </ul>
            <% end %>
          </div>
        </nav>
      </header>
    <%= yield %>
  </body>
</html>
